<!DOCTYPE html>
<html lang="es">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Inicio</title>

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>Registrar nuevo desarrollador</h1>		

		<form class="col s12" method="POST">
			{% csrf_token %}

      		<div class="row">
		    	<div class="input-field col s6">
		          <input name="name" type="text" class="validate" required>
		          <label for="name">Nombre</label>
		        </div>
		        <div class="input-field col s6">
		          <input name="years" type="number" min="0" class="validate" required>
		          <label for="years">Años de experiencia</label>
		        </div>
		        <div class="input-field col s6">
					<select name="area" required>
					  	<option value="">Seleccione área</option>
					  	{% for a in areas %}
					  	<option value="{{ a.name }}">{{ a.name }}</option>
					  	{% endfor %}
					</select>
				</div>
	        </div>

	        <button class="btn waves-effect waves-light" type="submit" name="action">Registrar
		    	<i class="material-icons right">send</i>
		    </button>
	    </form>

	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<script>
	$(document).ready(function() {
    	$('select').material_select();
	});
	</script>
</body>
</html>